@import './base.scss';

#app {
  max-width: 1366px;
  font-weight: normal;
  display: flex;
  width: 100%;
  justify-content: center;
  background: var(--lightGray);
  #menu-left {
    width: 20%;
    max-width: 260px;
    background-color: var(--blue);
    user-select: none;
  }
  #main-content {
    max-width: 1106px;
    height: 100vh;
    overflow: hidden;
    width: 80%;
  }
}